button {
  background: var(--color-secondary);
  color: var(--color-neutral-100);
  padding: var(--space-2) var(--space-3);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--font-size-md);
  transition: background 0.9s;
}

button:hover { background: var(--color-accent); }
button:disabled { background: var(--color-neutral-400); cursor: not-allowed; }


fieldset {
  border: 2px solid var(--color-neutral-400);
  border-radius: 6px; 
  padding: var(--space-3); 
  margin-bottom: var(--space-3); 
}
form {
  display: grid;
  gap: var(--space-2);
}

input, select {
  padding: var(--space-2);
  border: 2px solid var(--color-neutral-400);
  border-radius: 4px;
  font-size: var(--font-size-sm);
}

input:focus, select:focus {
   border: 3px solid var(--color-primary);
  outline: none;
}

.invalid {
  border-color: var(--color-secondary);
  background-color: #ffe5e5;
}


.alert {
  background: var(--color-secondary);
  color: var(--color-neutral-100);
  padding: var(--space-2);
  border-radius: 4px;
  margin-top: var(--space-2);
  display: none;
}

.toast {
  background: var(--color-primary);
  color: var(--color-neutral-100);
  padding: var(--space-2);
  border-radius: 4px;
  margin-top: var(--space-2);
  display: none;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


.badge {
  display: inline-block;
  background: var(--color-accent);
  color: var(--color-neutral-100);
  padding: 4px 8px;
  border-radius: 12px;
  font-size: var(--font-size-xs);
  margin-top: var(--space-1);
}
